@import "./Utlity.scss";
@import "./Variable.scss";



.MainNav {
  @include flex(space-between, center);
  height: 70px;
  background: $bgColor;
  color: $link-text;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  border-radius: 0px 0px 8px 8px;
}

.NavHeading {
  cursor: pointer;
  margin-left: 10px;
  color: $zuan-color;
  font-family: timeRomanBold;
}
button {
  cursor: pointer;
}
.NavLink {
  @include flex(space-between, center);
  flex-basis: 70%;
  margin-right: 10px;
  white-space: nowrap;
}
.Links {
  @include flex(space-between, center);
  flex-basis: 600px;
  font-size: $smallFont;

  // --------- overView Image
  > :nth-child(1) button {
    padding: $btn-pad;
    border-radius: $btn-radious;
    border: none;
    color: $zuan-color;
    box-shadow: $btn-overView-box-shadow;
    background: $btn-overView-bg;
  }
  > div {
    padding: 2px 2px;
    margin: 0px 2px;
  }
  div > button {
    background: none;
    border: none;
    color: $link-text;
  }
}
.menu {
  display: none;
}
.NavUser {
  > :nth-child(1) > div:nth-child(1) {
    margin-right: 10px;
  }
  // --------- User Image
  > :nth-child(1) > div:nth-last-child(1) {
    @include flex(center, center);
    border: 1px solid $link-text;
    padding: 4px;
    border-radius: 50%;
  }
  > :nth-child(1) {
    @include flex(space-between, center);
  }
}

@media screen and (max-width: 768px) {
  .MainNav{
    align-items: flex-start;
    padding-top: 15px;
    position: relative;
  }
  
  .NavLink {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
    transform: translateY(-150%);
    flex-basis: 0px;
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: $link-text;
    flex-direction: column;
    .NavUser{
      padding: 0px 5px;
      position: absolute;
      background: transparent;
      top: 9px;
      right: 10%;
      border-radius: $btn-radious;
      @media screen and (max-width:348px) {
       >div > :nth-child(1){ 
          display: none;
      }
      }
      @media screen and (max-width:204px) {
        >div > :nth-child(2){ 
         display: none;
        }
      }
    }
    .Links{
      
      width: 90%;
      flex-basis: 300px;
      
      // border: 1px solid rgb(0, 255, 191);
      overflow: hidden;
      // OverView
      flex-direction: column;
      > :nth-child(1){
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        background: $bgColor;
        // border: 4px solid rgb(28, 250, 165);
        height: 70px;
        >button{
          // border: 1px solid yellow;
          margin-top: 9px;
          height: min-content;
        }
        @media screen and (max-width:204px) {
         div{
           display: none;
         }
        }
        div{
          width: 50%;
          position: relative;
          z-index: -1;
        }
      }
      div{
        width: 100%;
        text-align: center;
        padding: $btn-pad;
        border-radius: 8px;
        cursor: pointer;

        // border: 3px solid salmon;
        background: $bgColor;
       
      }
    }
  }
  .NavLinkTrue{
    z-index: -1;
    transform: translateY(0%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)  .5s;
  }
  .menu {
    display: block;
    color: $zuan-color;
    cursor: pointer;
    .menuIn {
      @include square(2.5em);
      margin-right: 13px;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1)  .5s;
    }
    img{
      margin-right: 15px;
      @include square(2em);
      transition: cubic-bezier(0.075, 0.82, 0.165, 1)  .5s;
    }
    .hide{
      display: none
    }
  }
}
