@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@font-face {
  font-family: 'timeRomanBold';
  src: url(../Assets/Font/times-new-roman-bold.ttf) format("truetype");
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* location effects */
/* micro effects */
/* small icon inner shadows */
.MainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  background: linear-gradient(135.32deg, #484649 1.63%, #272727 97.86%);
  color: #B1ADA3;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  border-radius: 0px 0px 8px 8px;
}

.NavHeading {
  cursor: pointer;
  margin-left: 10px;
  color: #baa777;
  font-family: timeRomanBold;
}

button {
  cursor: pointer;
}

.NavLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  margin-right: 10px;
  white-space: nowrap;
}

.Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
  font-size: 15px;
}

.Links > :nth-child(1) button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  color: #baa777;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.46), -4px -4px 8px rgba(116, 118, 119, 0.2);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.46), -4px -4px 8px rgba(116, 118, 119, 0.2);
  background: linear-gradient(96.56deg, #262427 0.72%, #414141 96.88%);
}

.Links > div {
  padding: 2px 2px;
  margin: 0px 2px;
}

.Links div > button {
  background: none;
  border: none;
  color: #B1ADA3;
}

.menu {
  display: none;
}

.NavUser > :nth-child(1) > div:nth-child(1) {
  margin-right: 10px;
}

.NavUser > :nth-child(1) > div:nth-last-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #B1ADA3;
  padding: 4px;
  border-radius: 50%;
}

.NavUser > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .MainNav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 15px;
    position: relative;
  }
  .NavLink {
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    -ms-flex-preferred-size: 0px;
        flex-basis: 0px;
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: #B1ADA3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .NavLink .NavUser {
    padding: 0px 5px;
    position: absolute;
    background: transparent;
    top: 9px;
    right: 10%;
    border-radius: 4px;
  }
}

@media screen and (max-width: 768px) and (max-width: 348px) {
  .NavLink .NavUser > div > :nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 768px) and (max-width: 204px) {
  .NavLink .NavUser > div > :nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .NavLink .Links {
    width: 90%;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .NavLink .Links > :nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: linear-gradient(135.32deg, #484649 1.63%, #272727 97.86%);
    height: 70px;
  }
  .NavLink .Links > :nth-child(1) > button {
    margin-top: 9px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

@media screen and (max-width: 768px) and (max-width: 204px) {
  .NavLink .Links > :nth-child(1) div {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .NavLink .Links > :nth-child(1) div {
    width: 50%;
    position: relative;
    z-index: -1;
  }
  .NavLink .Links div {
    width: 100%;
    text-align: center;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(135.32deg, #484649 1.63%, #272727 97.86%);
  }
  .NavLinkTrue {
    z-index: -1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  }
  .menu {
    display: block;
    color: #baa777;
    cursor: pointer;
  }
  .menu .menuIn {
    width: 2.5em;
    height: 2.5em;
    margin-right: 13px;
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  }
  .menu img {
    margin-right: 15px;
    width: 2em;
    height: 2em;
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  }
  .menu .hide {
    display: none;
  }
}
/*# sourceMappingURL=Navbar.css.map */