// Background , Text color
$bgColor: linear-gradient(135.32deg, #484649 1.63%, #272727 97.86%);
$border-dark: linear-gradient(135.32deg, #3d3d3d 4.63%, #404040 97.86%);
// $font: 
$zuan-color: #baa777;
$link-text:#B1ADA3;
$zuan-gradient: linear-gradient(93.05deg, #d3c399 0.89%, #ccb16c 103.24%);

$prime-color-small-ico: linear-gradient(151deg, #8dedd0 25.87%, #47649a 82.79%);

$black-radial-card: radial-gradient(
  51.41% 67.73% at 47.84% 51.62%,
  #44424e 0%,
  #19181e 100%
);

$black-radial-bg: radial-gradient(
  48.38% 48.38% at 47.84% 51.62%,
  #37353f 0%,
  #19181e 100%
);

$black-card-radial-outline: linear-gradient(
  135.32deg,
  #3c3b43 4.63%,
  #27262d 97.86%
);

$black-card-test-a1: #8dedd0;
$black-card-test-a2: #32cee3;
// Button Padding
$btn-pad: 8px 16px;
// Button Shadows
$button-shadow-bg: #c4c4c4;
$bttton-shadow: 4px 4px 8px rgba(0, 0, 0, 0.46),
  -4px -4px 8px rgba(116, 118, 119, 0.2);

// overViewButton

$btn-radious: 4px;
$btn-overView-bg: linear-gradient(96.56deg, #262427 0.72%, #414141 96.88%);
$btn-overView-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.46), -4px -4px 8px rgba(116, 118, 119, 0.2);


/* location effects */
$location-bg: #c4c4c4;
$location-box-shadow: -2px -2px 10px rgba(195, 248, 248, 0.38),
  2px 2px 4px rgba(0, 0, 0, 0.66);

/* micro effects */

$micro-bg: #c4c4c4;
$micro-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.55), -1px -1px 2px #6f7070;

/* small icon inner shadows */
$small-ico-bg: #c4c4c4;
$small-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.46);


// Image and Circle 
@mixin square($size) {
  width: $size;
  height: $size;  
}

// Using Flex Box
@mixin flex($justContent, $alignItem : auto) {
  display: flex;
  justify-content: $justContent;  
  align-items: $alignItem; 
}
